@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Readex Pro';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    color: #1e90ff; /* Color de enlace por defecto (azul claro) */
    text-decoration: none; /* Sin subrayado por defecto */
    font-weight: 500; /* Opcional: Negrita ligera para enlaces */
}

a:hover {
    color: #d33682; /* Color de enlace al pasar el cursor (rosado) */
    text-decoration: underline; /* Subrayado al pasar el cursor */
}

a:visited {
    color: #1e90ff; /* Color de enlace visitado (mismo azul claro) */
}

ul {
    list-style-type: none;
}

hr {
    margin-top: 0px;
    margin-bottom: 5%;
}

#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}
